<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">会员卡查询</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">主页</a></li>
                    <li class="breadcrumb-item active">会员卡查询</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        会员卡查询
                    </div>
                    <div class="card-body">
                        <form th:action="@{/member/selByCard}" method="post" onsubmit="return validateForm()" class="d-flex align-items-center">
                            <div class="me-2 flex-grow-1">
                                <input type="text" class="form-control" name="memberAccount"
                                       pattern="^[0-9]*$" title="请输入仅包含数字的会员账号/卡号"
                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                       required>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-outline-success" value="查询">
                            </div>
                        </form>
                        <table class="table table-hover mt-3">
                            <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">会员账号/卡号</th>
                                <th scope="col" class="border-0">姓名</th>
                                <th scope="col" class="border-0">办卡时间</th>
                                <th scope="col" class="border-0">性别</th>
                                <th scope="col" class="border-0">年龄</th>
                                <th scope="col" class="border-0">联系方式</th>
                                <th scope="col" class="border-0">身高</th>
                                <th scope="col" class="border-0">体重</th>
                                <th scope="col" class="border-0">购买课时</th>
                                <th scope="col" class="border-0">剩余课时</th>
                                <th scope="col" class="border-0">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mem:${memberList}">
                                <td th:text="${mem.memberAccount}">会员账号/卡号</td>
                                <td th:text="${mem.memberName}">姓名</td>
                                <td th:text="${mem.cardTime}">办卡时间</td>
                                <td th:text="${mem.memberGender}">性别</td>
                                <td th:text="${mem.memberAge}">年龄</td>
                                <td th:text="${mem.memberPhone}">联系方式</td>
                                <td th:text="${mem.memberHeight}">身高</td>
                                <td th:text="${mem.memberWeight}">体重</td>
                                <td th:text="${mem.cardClass}">购买课时</td>
                                <td th:text="${mem.cardNextClass}">剩余课时</td>
                                <td>
                                    <a th:href="@{/member/toUpdateMember(memberAccount=${mem.memberAccount})}">
                                        <input type="button" class="btn btn-sm btn-outline-primary" value="编辑">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>

<script>
    function validateForm() {
        var memberAccount = document.querySelector('input[name="memberAccount"]').value;
        if (!/^\d+$/.test(memberAccount)) {
            alert("会员账号/卡号只能包含数字！");
            return false;
        }
        return true;
    }
</script>
</body>
</html>